<!DOCTYPE html>
<html>
<head>
    <title>{% block tytul %}Glowna{% endblock %}</title>
</head>
<body>
<div class="kontener" style="margin-left: 100px;margin-top: 100px">
    <div class="menu" style="float: left;background-color: yellow">
        <a href="/">Home</a>
        <br>
        <a href="/tabela">Tabela Glowna</a>
        <br>
        <a href="/sklad_druzyny">Sklad druzyny</a>
        <br>
        <a href="/usuwanie">usuwanie baz</a>
        <br>
        <a href="/strzelcy">strzelcy</a>
        <br>
        <a href="/zrob_tabele">zrob tabele</a>
        <br>
        <a href="/statystyka">Pokaz statystyki</a>
        <br>
        <a href="/wp"><b>POPRAWA</b></a>
        <br>
        <a href="/szukaj"><b>POPRAWA SZUKAJ</b></a>
    </div>
    <div class="glowna" style="background-color: greenyellow;float: left;width: 60%">
        {% block zawartosc %}
            Tresc Home
        {% endblock %}
    </div>

</div>
</body>
</html>