{% extends "index.html" %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% block zawartosc %}
    {% for i in dane %}
       Trener Zespolu: {{ i }}
        <br>
    {% endfor %}
    {% if dane_s %}
    {% for j in dane_s %}
        Zdobyte gole na mecz: {{ j }}
        <br>
    {% endfor %}
    {% else %}
    aaaaaaaa
    {% endif %}
    <a href="/statystyka">Powrot</a>
{% endblock %}
</body>
</html>