{% extends "index.html" %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% block zawartosc %}
{% for i in baza %}
<a href="/statystyka/{{ i }}/">{{ i }}</a>
    <br>
{% endfor %}
{% endblock %}
</body>
</html>