{% extends "index.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block tytul %}Strzelcy{% endblock %}</title>
</head>
<body>
{% block zawartosc %}
    {% if baza_druzyn%}
        <table border="1">
        <tr>
            <th>Pilkarz</th>
            <th>Klub</th>
            <th>Pozycja zawodnka</th>
            <th>Strzelone gole</th>
        </tr>
    {% for wiersz in baza_strzelcow %}
        <tr>
            <td>{{ wiersz.Pilkarz }}</td>
            <td>{{ wiersz.Nazwa_klubu }}</td>
            <td>{{ wiersz.Pozycja }}</td>
            <td>{{ wiersz.Gole }}</td>
        </tr>
    {% endfor %}
        </table>
    {% else %}
    BRAK TABELI DRUZYN !!!
        <br>
        Tabela druzyn jest wymagana,by stworzyc tabele strzelcow.
        <br>
        <a href="/sklad_druzyny">Sciagnij tabele druzyn</a>
    {% endif %}
{% endblock %}
</body>
</html>