<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<form method="POST" action="{% url 'szukaj' %}" >{% csrf_token %}
    <h1>Podaj wyrazenie</h1>
    <input type="text" name="fraza" id="fraza"/>
    <input type="submit" name="login" value="Wyslij"/>
</form>


{% block zawartosc %}
    {% for i in dane %}
        tutyl newsa: {{ i }}
        <br>
{% endfor %}
{% endblock %}
</body>
</html>