{% extends "index.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block tytul %}Tabela ogolna{% endblock %}</title>
</head>
<body>
{% block zawartosc %}
    {% if tabelka %}
        <table border="1">
        <tr>
            <th>Lp.</th>
            <th>Nazwa klubu</th>
            <th>Ilosc punktow</th>
            <th>Zwyciestwa</th>
            <th>Przegrane</th>
            <th>Remisy</th>
            <th>Bramki strzelone</th>
            <th>Bramki stracone</th>
        </tr>
    {% for wiersz in tabelka %}
        <tr>
            <td>{{ wiersz.Lp }}</td>
            <td>{{ wiersz.Nazwa_klubu }}</td>
            <td>{{ wiersz.Ilosc_punktow }}</td>
            <td>{{ wiersz.Ilosc_zwyciestw }}</td>
            <td>{{ wiersz.Ilosc_przegranych }}</td>
            <td>{{ wiersz.Ilosc_remisow }}</td>
            <td>{{ wiersz.Bramki_zdobyte }}</td>
            <td>{{ wiersz.Bramki_stracone }}</td>
        </tr>
    {% endfor %}
        </table>
        {% else %}
        <a href="/sciaganie_tabeli">sciagnij tabele</a>
    {% endif %}
{% endblock %}
</body>
</html>