<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Tytuly newsow</h1>
{% block zawartosc %}
    {% for i in dane %}
        tutyl newsa: {{ i.Title }}
        <br>
    {% endfor %}
{% endblock %}
</body>
</html>